In [1]:
import numpy as np
import pandas as pd
import pymysql as mysql
from IPython.core.display import display, HTML
from sqlalchemy import create_engine, Column, Integer, String, Float, MetaData, CHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

C:\Users\barro\AppData\Local\Temp\ipykernel_7136\2566898089.py:4: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
# Import data into data frames

bc_cell_attribute = pd.read_csv("C:/Users/barro/OneDrive - University of San Diego/Desktop/MSADS School Files/MSADS - 507/Final Project/Breast Cancer Dataset/breast-cancer-wisconsin.csv",
names = ["patient_id", "clumpThickness", "uniCellSize", "uniCellShape", "marginalAdhesion", "singleEpithelialCellSize", "bareNuclei", "blandChromatin", "normalNucleoli", "mitosis", "diagnosis"])

bc_diagnostic = pd.read_csv("C:/Users/barro/OneDrive - University of San Diego/Desktop/MSADS School Files/MSADS - 507/Final Project/Breast Cancer Dataset/wdbc.csv",
names = ["patient_id", "diagnosis", "meanRadius", "meanTexture", "meanPerimeter", "meanArea", "meanSmoothness", "meanCompactness", "meanConcavity", "meanConcavePoints", "meanSymmetry", "meanFractal", "seRadius", "seTexture", "sePerimeter", "seArea", "seSmoothness", "seCompactness", "seConcavity", "seConcavePoints", "seSymmetry", "seFractal", "worstRadius", "worstTexture", "worstPerimeter", "worstArea", "worstSmoothness", "worstCompactness", "worstConcavity", "worstConcavePoints", "worstSymmetry", "worstFractal"])

bc_prognostic = pd.read_csv("C:/Users/barro/OneDrive - University of San Diego/Desktop/MSADS School Files/MSADS - 507/Final Project/Breast Cancer Dataset/wpbc.csv",
names = ["patient_id", "outcome", "outcomeTime", "meanRadius", "meanTexture", "meanPerimeter", "meanArea", "meanSmoothness", "meanCompactness", "meanConcavity", "meanConcavePoints", "meanSymmetry", "meanFractal", "seRadius", "seTexture", "sePerimeter", "seArea", "seSmoothness", "seCompactness", "seConcavity", "seConcavePoints", "seSymmetry", "seFractal", "worstRadius", "worstTexture", "worstPerimeter", "worstArea", "worstSmoothness", "worstCompactness", "worstConcavity", "worstConcavePoints", "worstSymmetry", "worstFractal", "tumorSize", "lymphNodeStatus"])

heart_disease_cleveland = pd.read_csv("C:/Users/barro/OneDrive - University of San Diego/Desktop/MSADS School Files/MSADS - 507/Final Project/processed.cleveland.csv",
names = ["age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"])

heart_disease_hungarian = pd.read_csv("C:/Users/barro/OneDrive - University of San Diego/Desktop/MSADS School Files/MSADS - 507/Final Project/processed.hungarian.csv",
names = ["age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"])

In [3]:
# The missing values in the datasets are "?". This block replaces the "?" with NA/Null values

bc_cell_attribute.replace("?", np.NaN, inplace = True)

bc_diagnostic.replace("?", np.NaN, inplace = True)

bc_prognostic.replace("?", np.NaN, inplace = True)

heart_disease_cleveland.replace("?", np.NaN, inplace = True)

heart_disease_hungarian.replace("?", np.NaN, inplace = True)

In [4]:
# Change bc_cell_attribute.diagnosis from 2 for benign, 4 for malignant to B for benign, M for malignant

bc_cell_attribute['diagnosis'].replace({2: "B", 4: "M"}, inplace = True)

In [5]:
# Change the data type for the data

bc_cell_attribute['clumpThickness'] = bc_cell_attribute['clumpThickness'].astype(float)
bc_cell_attribute['uniCellSize'] = bc_cell_attribute['uniCellSize'].astype(float)
bc_cell_attribute['uniCellShape'] = bc_cell_attribute['uniCellShape'].astype(float)
bc_cell_attribute['marginalAdhesion'] = bc_cell_attribute['marginalAdhesion'].astype(float)
bc_cell_attribute['singleEpithelialCellSize'] = bc_cell_attribute['singleEpithelialCellSize'].astype(float)
bc_cell_attribute['bareNuclei'] = bc_cell_attribute['bareNuclei'].astype(float)
bc_cell_attribute['blandChromatin'] = bc_cell_attribute['blandChromatin'].astype(float)
bc_cell_attribute['normalNucleoli'] = bc_cell_attribute['normalNucleoli'].astype(float)
bc_cell_attribute['mitosis'] = bc_cell_attribute['mitosis'].astype(float)

bc_prognostic['lymphNodeStatus'] = bc_prognostic['lymphNodeStatus'].astype(float)

In [6]:
# Connect to Azure Database

conn = mysql.connect(host='msads507g3sp25.mysql.database.azure.com', port=int(3306), user='msads507g3sp25', password='ADS507project', db='healthcare')

In [34]:
# Create table and load data into the Azure database

create_table_query = """
CREATE TABLE IF NOT EXISTS bc_cell_attribute (
    patient_id INT,
    clumpThickness FLOAT,
    uniCellSize FLOAT,
    uniCellShape FLOAT,
    marginalAdhesion FLOAT,
    singleEpithelialCellSize FLOAT,
    bareNuclei FLOAT,
    blandChromatin FLOAT,
    normalNucleoli FLOAT,
    mitosis FLOAT,
    diagnosis CHAR(10)
);
"""
cursor = conn.cursor()
cursor.execute(create_table_query)
conn.commit()

engine = create_engine('mysql+pymysql://msads507g3sp25:ADS507project@msads507g3sp25.mysql.database.azure.com:3306/healthcare')

bc_cell_attribute.to_sql('bc_cell_attribute', con=engine, if_exists = 'replace', index = False)

699

In [ ]:
# Create table and load data into the Azure database

create_table_query = """
CREATE TABLE IF NOT EXISTS bc_diagnostic (
    patient_id INT,
    diagnosis CHAR(10),
    meanRadius FLOAT,
    meanTexture FLOAT,
    meanPerimeter FLOAT,
    meanArea FLOAT,
    meanSmoothness FLOAT,
    meanCompactness FLOAT,
    meanConcavity FLOAT,
    meanConcavePoints FLOAT,
    meanSymmetry FLOAT,
    meanFractal FLOAT,
    seRadius FLOAT,
    seTexture FLOAT,
    sePerimeter FLOAT,
    seArea FLOAT,
    seSmoothness FLOAT,
    seCompactness FLOAT,
    seConcavity FLOAT,
    seConcavePoints FLOAT,
    seSymmetry FLOAT,
    seFractal FLOAT,
    worstRadius FLOAT,
    worstTexture FLOAT,
    worstPerimeter FLOAT,
    worstArea FLOAT,
    worstSmoothness FLOAT,
    worstCompactness FLOAT,
    worstConcavity FLOAT,
    worstConcavePoints FLOAT,
    worstSymmetry FLOAT,
    worstFractal FLOAT
);
 """

cursor = conn.cursor()
cursor.execute(create_table_query)
conn.commit()

engine = create_engine('mysql+pymysql://msads507g3sp25:ADS507project@msads507g3sp25.mysql.database.azure.com:3306/healthcare')

bc_diagnostic.to_sql('bc_diagnostic', con=engine, if_exists = 'replace', index = False)

569

In [ ]:
# Create table and load data into the Azure database

create_table_query = """
CREATE TABLE IF NOT EXISTS bc_prognostic (
    patient_id INT,
    outcome CHAR(10),
    outcomeTime FLOAT,
    meanRadius FLOAT,
    meanTexture FLOAT,
    meanPerimeter FLOAT,
    meanArea FLOAT,
    meanSmoothness FLOAT,
    meanCompactness FLOAT,
    meanConcavity FLOAT,
    meanConcavePoints FLOAT,
    meanSymmetry FLOAT,
    meanFractal FLOAT,
    seRadius FLOAT,
    seTexture FLOAT,
    sePerimeter FLOAT,
    seArea FLOAT,
    seSmoothness FLOAT,
    seCompactness FLOAT,
    seConcavity FLOAT,
    seConcavePoints FLOAT,
    seSymmetry FLOAT,
    seFractal FLOAT,
    worstRadius FLOAT,
    worstTexture FLOAT,
    worstPerimeter FLOAT,
    worstArea FLOAT,
    worstSmoothness FLOAT,
    worstCompactness FLOAT,
    worstConcavity FLOAT,
    worstConcavePoints FLOAT,
    worstSymmetry FLOAT,
    worstFractal FLOAT,
    tumarSize FLOAT,
    lymphNodeStatus FLOAT
);
"""
                                 
cursor = conn.cursor()
cursor.execute(create_table_query)
conn.commit()

engine = create_engine('mysql+pymysql://msads507g3sp25:ADS507project@msads507g3sp25.mysql.database.azure.com:3306/healthcare')

bc_prognostic.to_sql('bc_prognostic', con=engine, if_exists = 'replace', index = False)

198

In [53]:
# Create table and load data into the Azure database

create_table_query = """
CREATE TABLE IF NOT EXISTS heart_disease_cleveland (
    age FLOAT,
    sex FLOAT,
    cp FLOAT,
    trestbps FLOAT,
    chol FLOAT,
    fbs FLOAT,
    restecg FLOAT,
    thalach FLOAT,
    exang FLOAT,
    oldpeak FLOAT,
    slope FLOAT,
    ca FLOAT,
    thal FLOAT,
    num FLOAT
);
"""

cursor = conn.cursor()
cursor.execute(create_table_query)
conn.commit()

engine = create_engine('mysql+pymysql://msads507g3sp25:ADS507project@msads507g3sp25.mysql.database.azure.com:3306/healthcare')

heart_disease_cleveland.to_sql('heart_disease_cleveland', con=engine, if_exists = 'replace', index = False)

303

In [9]:
# Create table and load data into the Azure database

create_table_query = """
CREATE TABLE IF NOT EXISTS heart_disease_hungarian (
    age FLOAT,
    sex FLOAT,
    cp FLOAT,
    trestbps FLOAT,
    chol FLOAT,
    fbs FLOAT,
    restecg FLOAT,
    thalach FLOAT,
    exang FLOAT,
    oldpeak FLOAT,
    slope FLOAT,
    ca FLOAT,
    thal FLOAT,
    num FLOAT
);
"""

cursor = conn.cursor()
cursor.execute(create_table_query)
conn.commit()

engine = create_engine('mysql+pymysql://msads507g3sp25:ADS507project@msads507g3sp25.mysql.database.azure.com:3306/healthcare')

heart_disease_hungarian.to_sql('heart_disease_hungarian', con=engine, if_exists = 'replace', index = False)

294

In [10]:
# Testing space

test = pd.read_sql("""SHOW TABLES""", conn)
test

C:\Users\barro\AppData\Local\Temp\ipykernel_7136\3249037239.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  test = pd.read_sql("""SHOW TABLES""", conn)

      Tables_in_healthcare
0        bc_cell_attribute
1            bc_diagnostic
2            bc_prognostic
3  heart_disease_cleveland
4  heart_disease_hungarian
5            heart_failure
6                 patients
7              predictions

In [11]:
# Testing space

test = pd.read_sql("""SELECT * FROM heart_disease_hungarian""", conn)
test

C:\Users\barro\AppData\Local\Temp\ipykernel_7136\3812920415.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  test = pd.read_sql("""SELECT * FROM heart_disease_hungarian""", conn)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,None,None,None,0
1,29,1,2,120,243,0,0,160,0,0.0,None,None,None,0
2,29,1,2,140,None,0,0,170,0,0.0,None,None,None,0
3,30,0,1,170,237,0,1,170,0,0.0,None,None,6,0
4,31,0,2,100,219,0,1,150,0,0.0,None,None,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,52,1,4,160,331,0,0,94,1,2.5,None,None,None,1
290,54,0,3,130,294,0,1,100,1,0.0,2,None,None,1
291,56,1,4,155,342,1,0,150,1,3.0,2,None,None,1
292,58,0,2,180,393,0,0,110,1,1.0,2,None,7,1
293,65,1,4,130,275,0,1,115,1,1.0,2,None,None,1